{% extends 'master.html' %}
{% block content %}
{% load static %}




<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Estimate</h3>
                    <ul class="breadcrumb">
                        <li><a href="/index">Dashboard /</a></li>
                        <li><a href="/estimate"> Estimate /</a></li>
                        <li class="breadcrumb-item active">Add Estimate</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {%if estimate %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Customer:</label>

                                    <input type="text" class="form-control" disabled
                                        value="{{estimate.clientd.client_name}}">


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_fromdate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_todate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Client Id</label>
                                    <input class="form-control" disabled value="{{estimate.clientd.client_id}}">
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Gst Number</label>
                                    <input disabled value="{{estimate.clientd.client_gst_number}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input disabled value="{{estimate.id}}" id="estimateid" class="form-control">
                                </div>
                            </div>


                        </div>
                        {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Customer Phone:</label>
                                        <input type="text" class="form-control" name="checkphone"
                                            placeholder="Enter Customer Phone Number" id="checkname">
                                        <!-- <input type="text" class="form-control" name="checkname" list="customer">
                                        <datalist id="customer">
                                            {% for i in cust %}
                                            <option value="{{i.id}}">{{i.client_name}}</option>
                                            {% endfor %}
                                        </datalist> -->

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" placeholder="Starting Date"
                                                name="dataform" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" placeholder="Ending Date"
                                                name="todate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Estimate Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Gst Number</label>
                                        <input type="text"  class="form-control">
                                    </div>
                                </div> -->


                            </div>
                            {{msg}}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-start mt-4">
                                        <a href="/addcustomer" class="btn btn-sm btn-primary"> <i class="fa fa-plus">Add
                                                Customer</i> </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Create Estimate</button>
                                    </div>
                                </div>
                            </div>


                        </form>
                        {% endif %}
                        {%if estimate %}

                        <div class="table-responsive mt-4">
                            <table class="table table-hover add-table-items">
                                <thead>
                                    <tr>
                                        <th>SL.No</th>
                                        <th>Food Name</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                        <th>Price per Head / per Kg</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="add-row">
                                        <td>
                                            <input type="text" value="1" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" hidden class="form-control" id="productId1">
                                            <input type="text" class="form-control" id="productName1" list="food" onchange="changedProductname(1)">
                                                
                                            <datalist id="food">
                                                {% for i in pro %}
                                                <option value="{{i.food_name}}">{{i.food_name}}
                                                </option>
                                                {% endfor %}
                                            </datalist>

                                            <!-- <input type="text" id="productname" class="form-control"> -->
                                        </td>
                                        <td>
                                            <input type="text" id="category1" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" id="qty1" onchange="changeqty(1)" class="form-control">
                                        </td>
                                        <td>

                                            <select name="" id="priceselect1" onchange="changeqty(1)"
                                                class="form-control">

                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" id="amount1"  class="form-control">
                                        </td>
                                        <!-- <td>
                                                <input type="text" class="form-control" disabled>
                                            </td> -->
                                        <td class="add-remove text-end">
                                            <a href="javascript:void(0);" id="add" class="add-btn me-2"><i
                                                    class="fas fa-plus-circle"></i></a>
                                            <a href="#" class="copy-btn me-2"><i class="fa fa-copy"></i></a><a
                                                href="javascript:void(0);" class="remove-btn"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table table-stripped table-center table-hover">
                                <thead></thead>
                                <tbody>
                                    <!-- <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Sub Total</td>
                                            <td class="text-end">0</td>
                                        </tr> -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td class="text-end">Additional Charge</td>
                                        <td class="text-end"> <input type="text" value="0" class="form-control" id="additionalchargeid"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">Total :</td>
                                        <td class="text-end"> <input class="form-control" value="0" id="total" type="number" min="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-7 col-md-6">
                                <!-- <div class="invoice-fields">
                                        <div class="field-box">
                                            <p>Payment Details</p>
                                            <a class="btn btn-primary" href="#"
                                                data-bs-toggle="modal"
                                                data-bs-target="#bank_details"><i
                                                    class="fas fa-plus-circle me-2"></i>Add Bank
                                                Details</a>
                                        </div>
                                    </div> -->
                                <div class="invoice-faq">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="faq-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <p class="panel-title">
                                                        <a class="collapsed" data-bs-toggle="collapse"
                                                            data-bs-parent="#accordion" href="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            <i class="fas fa-plus-circle me-1"></i>
                                                            Add
                                                            Terms & Conditions
                                                        </a>
                                                    </p>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                                    <div class="panel-body">
                                                        <textarea class="form-control" id="addterms"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <p class="panel-title">
                                                        <a class="collapsed" data-bs-toggle="collapse"
                                                            data-bs-parent="#accordion" href="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fas fa-plus-circle me-1"></i>
                                                            Add
                                                            Notes
                                                        </a>
                                                    </p>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordion">
                                                    <div class="panel-body">
                                                        <textarea class="form-control" id="addnote"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="text-end mt-4">
                                    <!-- <input type="hidden" value="{{estimate.id}}" id="estimateid" class="form-control"> -->

                                    <button type="button" id="savenote" class="btn btn-primary">Savenote</button>
                                </div>
                            </div>

                        </div>


                        <div class="text-end mt-4">
                            <button type="button" id="estimatebutton" class="btn btn-primary">Add
                                Estimate</button>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}


{% block JS %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<script>



    $(document).ready(() => {
        console.log('page loaded')

        // $('#productname').keyup(() => {
        //     console.log('hi')
        //     $.ajax({
        //         url: "bill",
        //         type: 'POST',
        //         data: {
        //             'productname': $('#productname').val(),

        //         },
        //         success: function (responce) {
        //             $('#category').val(responce.product.catagory)
        //             $('#priceselect').append('<option value="' + responce.product.priceper_head + '">' + responce.product.priceper_head + ' Per head</option>')
        //             $('#priceselect').append('<option value="' + responce.product.priceper_kg + '">' + responce.product.priceper_kg + ' Per KG</option>')


        //         }

        //     })
        // })


    })

</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="{% static 'js/estimate.js' %}"></script>

{% endblock %}