{% extends 'master.html' %}
{% block content %}
{% load static %}





<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Estimate</h3>
                    <ul class="breadcrumb">
                        <li><a href="/admin/index">Dashboard /</a></li>
                        <li><a href="/admin/estimate"> Estimate /</a></li>
                        <li class="breadcrumb-item active">Add Estimate</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Customer:</label>
                                        <select class="select form-control form-control-lg">
                                            <option>Select Customer</option>
                                            <option>Brian Johnson</option>
                                            <option>Marie Canales</option>
                                            <option>Barbara Moore</option>
                                            <option>Greg Lynch</option>
                                            <option>Karlene Chaidez</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Estimate Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Gst Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Staff Name</label>
                                        <select class="select form-control form-control-lg">
                                            <option>Select Staff</option>
                                            <option>Brian Johnson</option>
                                            <option>Marie Canales</option>
                                            <option>Barbara Moore</option>
                                            <option>Greg Lynch</option>
                                            <option>Karlene Chaidez</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th>Quantity</th>
                                            <th>Price per Head / per Kg</th>
                                            <th>Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled>
                                            </td>
                                            <td class="add-remove text-end">
                                                <i class="fas fa-plus-circle"></i> <i class="fas fa-minus-circle"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" disabled>
                                            </td>
                                            <td class="add-remove text-end">
                                                <i class="fas fa-plus-circle"></i> <i class="fas fa-minus-circle"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-stripped table-center table-hover">
                                    <thead></thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Sub Total</td>
                                            <td class="text-end">0</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Discount</td>
                                            <td class="text-end">0</td>
                                        </tr> -->

                                        <tr>
                                            <td>
                                               
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Total</td>
                                            <td class="text-end">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-7 col-md-6">
                                    <div class="invoice-fields">
                                        <div class="field-box">
                                            <p>Payment Details</p>
                                            <a class="btn btn-primary" href="#"
                                                data-bs-toggle="modal"
                                                data-bs-target="#bank_details"><i
                                                    class="fas fa-plus-circle me-2"></i>Add Bank
                                                Details</a>
                                        </div>
                                    </div>
                                    <div class="invoice-faq">
                                        <div class="panel-group" id="accordion" role="tablist"
                                            aria-multiselectable="true">
                                            <div class="faq-tab">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab"
                                                        id="headingTwo">
                                                        <p class="panel-title">
                                                            <a class="collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-parent="#accordion"
                                                                href="#collapseTwo"
                                                                aria-expanded="false"
                                                                aria-controls="collapseTwo">
                                                                <i
                                                                    class="fas fa-plus-circle me-1"></i>
                                                                Add
                                                                Terms & Conditions
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div id="collapseTwo"
                                                        class="panel-collapse collapse"
                                                        role="tabpanel" aria-labelledby="headingTwo"
                                                        data-bs-parent="#accordion">
                                                        <div class="panel-body">
                                                            <textarea
                                                                class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="faq-tab">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab"
                                                        id="headingThree">
                                                        <p class="panel-title">
                                                            <a class="collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-parent="#accordion"
                                                                href="#collapseThree"
                                                                aria-expanded="false"
                                                                aria-controls="collapseThree">
                                                                <i
                                                                    class="fas fa-plus-circle me-1"></i>
                                                                Add
                                                                Notes
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div id="collapseThree"
                                                        class="panel-collapse collapse"
                                                        role="tabpanel"
                                                        aria-labelledby="headingThree"
                                                        data-bs-parent="#accordion">
                                                        <div class="panel-body">
                                                            <textarea
                                                                class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="text-end mt-4">
                                <button type="submit" class="btn btn-primary">Add Estimate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal custom-modal fade bank-details" id="bank_details" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header text-start mb-0">
                    <h4 class="mb-0">Add Bank Details</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bank-inner-details">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Account Holder Name</label>
                                <input type="text" class="form-control" placeholder="Add Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Bank name</label>
                                <input type="text" class="form-control" placeholder="Add Bank name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>IFSC Code</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bank-details-btn">
                    <a href="javascript:void(0);" data-bs-dismiss="modal"
                        class="btn bank-cancel-btn me-2">Cancel</a>
                    <a href="javascript:void(0);" class="btn bank-save-btn">Save Item</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}