
{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Employees Registration</h3>
                    <ul class="breadcrumb">
                        <li><a href="/admin/index">Dashboard /</a></li>
                        <li class=""><a href="/admin/marketingstaff">Employees /</a></li>
                        <li class="breadcrumb-item active">Add Employees</li>
                    </ul>
                </div>
            </div>
        </div>

       
     
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Employees Registration</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <h5 class="card-title">Personal Details</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label"> Name</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">User Name</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_username" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Password</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_password" class="form-control">
                                        </div>
                                    </div>
                                    
                                 
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Address</label>
                                        <div class="col-lg-9">
                                            <textarea rows="4" name="employee_address" cols="5" class="form-control"
                                                placeholder="Enter message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <h5 class="card-title">Details</h5>
                                  
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Email</label>
                                        <div class="col-lg-9">
                                            <input type="email" name="employee_email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Pincode</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_zipcode" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">State</label>
                                        <div class="col-lg-9">
                                            <select class="select form-control-lg form-control" name="employee_state">
                                                <option disabled selected>Select State</option>
                                                <option value="California">California</option>
                                                <option value="Texas">Texas</option>
                                                <option value="Florida">Florida</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">District</label>
                                        <div class="col-lg-9">
                                            <select class="select form-control-lg form-control" name="employee_district">
                                                <option>Select District</option>
                                                <option value="California">California</option>
                                                <option value="Texas">Texas</option>
                                                <option value="Florida">Florida</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}