{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">


        {% if status == 1 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successfully</strong> add the Item.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title"> Add Stock</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Add Stock</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-xl-12 col-md-12">
                <div class="card invoices-settings-card">
                    <div class="card-header">
                        <h5 class="card-title">Add Stock</h5>
                    </div>
                    <div class="card-body">

                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row text-capitalize">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>item name</label>
                                        <input type="text" name="stockname" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>category</label>

                                        <input type="text" class="form-control" name="catagories" id="catagories"
                                            list="catagory" required>
                                        <datalist id="catagory">
                                            {% for c in allcatagory %}
                                            <option value="{{c.cat_name}}">
                                                {{c.cat_name}}
                                            </option>
                                            {% endfor %}
                                        </datalist>
                                  
                                    </div>
                                    <div class="form-group">
                                        <label>Missing price</label>
                                        <input type="number" name="missing_price" class="form-control" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label>Sqft price</label>
                                        <input type="number" name="sqft_price" value="0" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>quantity</label>
                                        <input type="number" class="form-control" name="quantity" required>
                                    </div>
                                    <div class="form-group">
                                        <label>price</label>
                                        <input type="number" name="price" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Damage price</label>
                                        <input type="number" name="damage_price" value="0" class="form-control" >
                                    </div>



                                </div>
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">
                                        Add Stock
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}