{% extends 'master.html' %}
{% block content %}
{% load static %}





<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Estimate</h3>
                    <ul class="breadcrumb">
                        <li><a href="/index">Dashboard /</a></li>
                        <li><a href="/estimate"> Estimate /</a></li>
                        <li class="breadcrumb-item active">Add Estimate</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                       
                       
                        {%if estimate %}
                        <h4>{{estimate.id}}</h4>
                        <h4>{{estimate.est_fromdate}}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Customer:</label>
                                    
                                    <input type="text" class="form-control" disabled value="{{estimate.clientd.client_name}}">
                                  

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_fromdate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_todate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Client Id</label>
                                    <input  class="form-control" disabled value="{{estimate.clientd.client_id}}">
                                </div>
                            </div> 
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Gst Number</label>
                                    <input disabled value="{{estimate.clientd.client_gst_number}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input disabled value="{{estimate.id}}" id="estimateid" class="form-control">
                                </div>
                            </div>


                        </div>
                        {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Customer:</label>
                                        
                                        <input type="text" class="form-control" name="checkname" list="customer">
                                        <datalist id="customer">
                                            {% for i in cust %}
                                            <option value="{{i.id}}">{{i.client_name}}</option>
                                            {% endfor %}
                                        </datalist>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" name="dataform" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" name="todate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Estimate Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Gst Number</label>
                                        <input type="text"  class="form-control">
                                    </div>
                                </div> -->


                            </div>
                            <div class="text-end mt-4">
                                <button type="submit"  class="btn btn-primary">Create Estimate</button>
                            </div>
                        </form>
                        {% endif %}
                       
                        {% comment %} {% if estimate %}
                        <h4>{{estimate.id}}</h4>
                        <h4>{{estimate.est_fromdate}}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Customer:</label>
                                    
                                    <input type="text" class="form-control" disabled value="{{estimate.clientd.client_name}}">
                                  

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>From</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_fromdate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>To</label>
                                    <div class="cal-icon">
                                        <input class="form-control " disabled value="{{estimate.est_todate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Client Id</label>
                                    <input  class="form-control" disabled value="{{estimate.clientd.client_id}}">
                                </div>
                            </div> 
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>Gst Number</label>
                                    <input disabled value="{{estimate.clientd.client_gst_number}}"  class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input disabled value="{{estimate.id}}" id="estimateid" class="form-control">
                                </div>
                            </div>


                        </div>
                        {% endif %} {% endcomment %}
                        <br>
                        {% comment %} <div class="row">
                            <div class="col-lg-7 col-md-6">
                                <!-- <div class="invoice-fields">
                                        <div class="field-box">
                                            <p>Payment Details</p>
                                            <a class="btn btn-primary" href="#"
                                                data-bs-toggle="modal"
                                                data-bs-target="#bank_details"><i
                                                    class="fas fa-plus-circle me-2"></i>Add Bank
                                                Details</a>
                                        </div>
                                    </div> -->
                                <div class="invoice-faq">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="faq-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <p class="panel-title">
                                                        <a class="collapsed" data-bs-toggle="collapse"
                                                            data-bs-parent="#accordion" href="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            <i class="fas fa-plus-circle me-1"></i>
                                                            Add
                                                            Terms & Conditions
                                                        </a>
                                                    </p>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                                    <div class="panel-body">
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-tab">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <p class="panel-title">
                                                        <a class="collapsed" data-bs-toggle="collapse"
                                                            data-bs-parent="#accordion" href="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fas fa-plus-circle me-1"></i>
                                                            Add
                                                            Notes
                                                        </a>
                                                    </p>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordion">
                                                    <div class="panel-body">
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> {% endcomment %}


                        {% comment %} <div class="text-end mt-4">
                            <button type="button" id="estimatebutton" class="btn btn-primary">Add
                                Estimate</button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}