{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Damage/Missing List</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class=""><a href="/rentoutlist">Rent Out List /</a>
                        </li>
                        <li class="breadcrumb-item active">Damage/MissingList</li>
                    </ul>
                </div>
                
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Estimate id</th>
                                        <th>Item Name</th>
                                        <th> Quantity Missing</th>
                                        <th> Quantity Damage</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in damagelist %}
                                    <tr>
                                        <td>{{ i.estimate.clientd.client_name }}</td>
                                        <td>{{ i.estimate.id }}</td>
                                        <td>{{ i.stock.stockname }}</td>
                                        <td>{{ i.missingstock}}</td>
                                        <td>{{ i.damagedstock}}</td>
                                       
                                   
                                    </tr>

                                    {% endfor %}
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}