{% extends 'master.html' %}
{% block content %}
{% load static %}





<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Estimate</h3>
                    <ul class="breadcrumb">
                        <li><a href="/index">Dashboard /</a></li>
                        <li><a href="/estimate"> Estimate /</a></li>
                        <li class="breadcrumb-item active">Edit Estimate</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Customer:</label>
                                        <input class="form-control" value="{{ estimte.clientd.client_name}}"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" value="{{ estimte.est_fromdate}}"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" value="{{ estimte.est_todate}}"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Estimate Number</label>
                                        <input readonly value="{{ estimte.id }}" id="estimateid" class="form-control">
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 mt-3">
                                    <div class="form-group">
                                        <label>Ref Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Staff Name</label>
                                        <select class="select form-control form-control-lg">
                                            <option>Select Staff</option>
                                            <option>Brian Johnson</option>
                                            <option>Marie Canales</option>
                                            <option>Barbara Moore</option>
                                            <option>Greg Lynch</option>
                                            <option>Karlene Chaidez</option>
                                        </select>
                                    </div>
                                </div> -->

                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-hover add-table-items">
                                    <thead>
                                        <tr>
                                            <th>SL.No</th>
                                            <th>Food Name</th>
                                            <th>Category</th>
                                            <th>Quantity</th>
                                            <th>Price per Head / per Kg</th>
                                            <th>Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estimateItem in estimateItemsList %}
                                        <tr class="add-row">
                                            <td>
                                                <input type="text" value="{{estimateItem.index}}" class="form-control">

                                            </td>
                                            <td>
                                                <input type="hidden" class="form-control"
                                                    value="{{estimateItem.item.productid.id}}"
                                                    id="productId{{estimateItem.item.productid.id}}">
                                                <input type="text" class="form-control"
                                                    value="{{estimateItem.item.productid.food_name}}"
                                                    id="productName{{estimateItem.index}}" list="food"
                                                    onChange=changedProductname(1)>
                                                <datalist id="food">
                                                    {% for i in pro %}
                                                    <option value="{{i.food_name}}">{{i.food_name}}

                                                    </option>
                                                    {% endfor %}
                                                </datalist>

                                            </td>
                                            <td>
                                                <input type="text" id="category{{estimateItem.index}}"
                                                    value="{{ estimateItem.item.est_category }}" class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" id="qty{{estimateItem.index}}"
                                                    value="{{ estimateItem.item.est_qty }}"
                                                    onChange=changeqty({{estimateItem.index}}) class="form-control">
                                            </td>
                                            <td>

                                                <select name="" id="priceselect{{estimateItem.index}}"
                                                    value="{{ estimateItem.item.est_price }}"
                                                    aria-placeholder="{{ estimateItem.item.est_price }}"
                                                    onChange=changeqty({{estimateItem.index}}) class="form-control">
                                                    <option value="{{estimateItem.priceper_head}}">
                                                        {{estimateItem.priceper_head}} Per Head</option>
                                                    <option value="{{estimateItem.priceper_kg}}">
                                                        {{estimateItem.priceper_kg}} Per KG</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" id="amount{{estimateItem.index}}"
                                                    value="{{ estimateItem.item.est_amount }}" class="form-control">
                                            </td>

                                            <td class="add-remove text-end">
                                                <a href="javascript:void(0);" id="add" class="add-btn me-2"><i
                                                        class="fas fa-plus-circle"></i></a>
                                                <a class="copy-btn me-2"><i class="fa fa-copy"></i></a>
                                                <a onclick="delectbtn('{{estimateItem.item.productid.id}}')" class="remove-btn"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>

                                        {% endfor %}




                                    </tbody>

                                </table>
                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table table-stripped table-center table-hover">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Sub Total</td>
                                            <td class="text-end"><span id="total">0</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Including GSt</td>
                                            <td class="text-end"><span id="gst">0</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end">Total</td>
                                            <td class="text-end"><span id="grandtotal">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-end mt-4">
                                <button type="submit" id="estimatebutton" class="btn btn-primary">Add Estimate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}


{% block JS %}

<script>



    $(document).ready(() => {
        console.log('page loaded')


        // $('#productname').keyup(() => {
        //     console.log('hi')
        //     $.ajax({
        //         url: "bill",
        //         type: 'POST',
        //         data: {
        //             'productname': $('#productname').val(),

        //         },
        //         success: function (responce) {
        //             $('#category').val(responce.product.catagory)
        //             $('#priceselect').append('<option value="' + responce.product.priceper_head + '">' + responce.product.priceper_head + ' Per head</option>')
        //             $('#priceselect').append('<option value="' + responce.product.priceper_kg + '">' + responce.product.priceper_kg + ' Per KG</option>')


        //         }

        //     })
        // })


        // $('#add').click(() => {
        //     console.log('hi')
        //     productquantity= $('#Quantity').val()
        //     productprice= $('#priceselect').val()
        //     console.log(productprice)
        //     Total = productquantity*productprice 
        //     $('#amount').val(Total)

        // })
    })

</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function changedProductname(id) {

        var csrf_token1 = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: "/billitem",
            type: 'POST',
            data: {

                'productname': $('#productName' + id).val(),
                csrfmiddlewaretoken: csrf_token1

            },
            success: function (responce) {
                $('#category' + id).val(responce.product.catagory)
                $('#productId' + id).val(responce.product.id)
                $('#priceselect' + id).append('<option value="' + responce.product.priceper_head + '">' + responce.product.priceper_head + ' Per Head</option>')
                $('#priceselect' + id).append('<option value="' + responce.product.priceper_kg + '">' + responce.product.priceper_kg + ' Per KG</option>')
                $("#amount" + id).val(responce.product.priceper_head)


            }

        })
    }


    $('#estimatebutton').click(function () {
        var estimateid = $('#estimateid').val()

        var rowCount = $(".add-table-items tr").length;
        for (var i = 1; i < rowCount; i++) {
            var productId = $('#productId' + i).val()
            var est_category = $('#category' + i).val()
            var est_price = $('#priceselect' + i).val()
            var est_amount = $('#amount' + i).val()
            var est_qty = $('#qty' + i).val()



            var data = {
                "productId": productId,
                "est_category": est_category,
                "est_price": est_price,
                "est_amount": est_amount,
                "est_qty": est_qty,
                "estimateid": estimateid

            }
            console.log(data)
            $.ajax({
                url: "/est_productupdate",
                type: 'POST',
                data: data,
                success: function (responce) {
                    // alert(responce.msg)
                    $('#total').html(responce.details.totalAmonut)
                    $('#gst').html(responce.details.gsttotal)
                    $('#grandtotal').html(responce.details.grandtotal)
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'Your Estimate has been saved',
                        showConfirmButton: false,
                        timer: 6000
                    })
                    window.location.href = '/index';

                }

            })



        }
        return false;
    })


    $(document).on("click", ".add-btn", function () {
        var rowCount = $(".add-table-items tr").length;
        var experiencecontent = '<tr class="add-row">' +
            '<td>' +
            '<input type="text" class="form-control" value="' + rowCount + '">' +
            '</td>' +
            '<td>' +
            '<input type="text" list="food" id="productName' + rowCount + '" onChange="changedProductname(' + rowCount + ')" class="form-control productname">' +
            '<input type="hidden"  id="productId' + rowCount + '" class="form-control">' +
            '</td>' +
            '<td>' +
            '<input type="text" id="category' + rowCount + '" class="form-control">' +
            '</td>' +
            '<td>' +
            '<input type="text" id="qty' + rowCount + '" onChange="changeqty(' + rowCount + ')" class="form-control">' +
            '</td>' +
            '<td>' +
            ' <select name="" id="priceselect' + rowCount + '"      ="changeqty(' + rowCount + ')" class="form-control"> </select>' +
            '</td>' +
            '<td>' +
            '<input type="text" id="amount' + rowCount + '" class="form-control">' +
            '</td>' +
            '<td class="add-remove text-end">' +
            '<a href="javascript:void(0);" class="add-btn me-2"><i class="fas fa-plus-circle"></i></a> ' +
            '<a href="#" class="copy-btn me-2"><i class="fas fa-copy"></i></a>' +
            '<a href="javascript:void(0);" onclick="DeleteRow(' + rowCount + ')" class="remove-btn"><i class="fas fa-trash"></i></a>' +
            '</td>' +
            '</tr>';

        $(".add-table-items").append(experiencecontent);

        return false;
    });

    function changeqty(id) {
        var completeTotal = 0
        var unitprice = $('#priceselect' + id).val()
        var qty = $('#qty' + id).val()
        var amount = unitprice * qty
        $("#amount" + id).val(amount)
        var total = $("#total").html()
        completeTotal = parseInt(total) + amount
        $("#total").html(completeTotal)
    }

    function DeleteRow(id) {



        var completeTotal = 0
        var amount = parseInt($("#amount" + id).val())
        var total = $("#total").html()
        completeTotal = parseInt(total) - amount
        $("#total").html(completeTotal)
       

    }


    function delectbtn(id) {
        $.ajax({
            url: "/deletedata",
            type: 'POST',
            data: {
                "product": $('#productId'+id).val(),
                "estimateid": $('#estimateid').val()
            },
            success: function (responce) {
                Swal.fire({
                        position: 'top-center',
                        icon: 'warning',
                        title: 'Your Item has been Delected',
                        showConfirmButton: false,
                        timer: 6000
                    })
                
                // window.location.href = '/index';

            }

        })

    }

</script>

{% endblock %}