{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title"> Edit Stock</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Edit Stock</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Stock Edit</h4>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row text-capitalize">
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label>item name</label>
                                        <input type="text" value="{{stock.stockname}}" class="form-control" name="stockname" required>
                                    </div>
                                    <div class="form-group">
                                        <label>category</label>
                                        <input type="text" value="{{stock.category.cat_name}}" class="form-control" readonly >
                                    </div>
                                     <div class="form-group">
                                        <label>quantity</label>
                                        <input type="number" class="form-control" value="{{stock.quantity}}" name="quantity"  >
                                    </div>       
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Price/Day</label>
                                        <input type="number" class="form-control" value="{{stock.price}}" name="price" required>
                                    </div>
                                     <div class="form-group">
                                        <label>Damage price</label>
                                        <input type="number" class="form-control" value="{{stock.damage_price}}" name="damageprice" required>
                                    </div>      
                                    <div class="form-group">
                                        <label>Missing price</label>
                                        <input type="number" class="form-control" value="{{stock.missing_price}}" name="missprice" required>
                                    </div>
                                   
                                </div>
                                <div class="invoice-setting-btn text-end">
                                    <a href="/stock"  class="btn cancel-btn me-2">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div> 
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}