

{% extends 'master.html' %}
{% block content %}
{% load static %}





<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Customers</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/user/index">Dashboard /</a></li>
                        <li class=""><a href="/user/customer">Clients /</a></li>
                        <li class="breadcrumb-item active">Edit Clients</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Client Info</h4>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label>Client Name / Company Name</label>
                                        <input type="text" class="form-control" value="{{ editcust.client_name }}" name="client_name">
                                    </div>

                                    <div class="form-group">
                                        <label>Company Phone Number</label>
                                        <input type="text" class="form-control" value="{{ editcust.client_phone }}"name="client_phone">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Watsup Number</label>
                                        <input type="text" class="form-control" value="{{ editcust.client_whsatpp }}" name="client_whsatpp">
                                    </div>
                                    <div class="form-group">
                                        <label>Company Email</label>
                                        <input type="email" value="{{ editcust.client_email }}" class="form-control" name="client_email">
                                    </div>
                                    <div class="form-group">
                                        <label> Company Address</label>
                                        <textarea rows="5" cols="5" class="form-control"  name="client_address"
                                            placeholder="Enter Address"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>GST number</label>
                                        <input type="text" class="form-control" value="{{ editcust.client_gst_number }}" name="client_gst_number">
                                    </div>
                                    <div class="form-group">
                                        <label>Primary Contact Type</label>
                                        <select class="select form-control form-control-lg" name="client_contact_type">
                                            <option value="watsup">watsup</option>
                                            <option value="email">email</option>
                                            <option value="phone number">phone number</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="select form-control form-control-lg" name="client_state">
                                            <option value="kerala">kerala</option>
                                            <option value="tamilnadu">tamilnadu</option>
                                            <option value="karnataka">karnataka</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Distric</label>
                                        <select class="select form-control form-control-lg" name="client_district">
                                            <option value="kasargode">kasargode</option>
                                            <option value="kannur">kannur</option>
                                            <option value="vayanad">vayanad</option>
                                            <option value="kozhikkod"> kozhikkod</option>
                                            <option value="malappuram">malappuram</option>
                                            <option value="trissure">trissure</option>
                                            <option value="palakkad">palakkad</option>
                                            <option value="ernakulam">ernakulam</option>

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control" value="{{ editcust.client_zipcode }}" name="client_zipcode">
                                    </div>



                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary mr-1 mb-1" id="basic-alert">save</button>
                            {% if status == 1 %}
                            <div class="alert alert-success" role="alert">
                              Edited succesfully
                            </div>
                            {% endif %}
                        </form>
                       
                       
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}