{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title"> Edit Stock</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Edit Stock</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-xl-12 col-md-12">
                <div class="card invoices-settings-card">
                    <div class="card-header">
                        <h5 class="card-title">Add Stock</h5>
                    </div>
                    <div class="card-body">

                        <form action="#" method="post" class="invoices-settings-form">
                            {% csrf_token %}
                            <!-- <div class="row align-items-center form-group">
                                <label for="name" class="col-sm-3 col-form-label input-label">Default Bank
                                    Account</label>
                                <div class="col-sm-9">
                                    <label class="custom_check">
                                        <input type="checkbox" name="invoice">
                                        <span class="checkmark"></span> Check to enable Bank Account default
                                    </label>
                                </div>
                            </div> -->
                            <div class="row align-items-center form-group">
                                <label for="phone" class="col-sm-3 col-form-label input-label">Stock name</label>
                                <div class="col-sm-9">
                                    <input required type="text" value="{{ stock.stockname}}" name="stockname" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center form-group">
                                <label for="email" class="col-sm-3 col-form-label input-label">Quantity</label>
                                <div class="col-sm-9">
                                    <input type="number" required name="quantity" value="{{ stock.quantity}}" class="form-control">
                                </div>
                            </div>
                            
                          
                           
                            <div class="invoice-setting-btn text-end">
                                <a href="/stock"  class="btn cancel-btn me-2">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}