
{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Edit Employees</h3>
                    <ul class="breadcrumb">
                        <li><a href="/user/index">Dashboard /</a></li>
                        <li><a href="/user/marketingstaff">Employees /</a></li>
                        <li class="breadcrumb-item active">Edit Details</li>
                    </ul>
                </div>
            </div>
        </div>

       
     
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"> Edit Employees </h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <h5 class="card-title">Personal Details</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label"> Name</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_name" value="{{ staffdetails.employee_name }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">User Name</label>
                                        <div class="col-lg-9">
                                            <input type="text" value="{{ staffdetails.employee_username }}" name="employee_username" class="form-control">
                                        </div>
                                    </div>
                                    
                                    
                                 
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Address</label>
                                        <div class="col-lg-9">
                                            <textarea rows="4" required name="employee_address" cols="5" placeholder="{{ staffdetails.employee_address }}" class="form-control"
                                                ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <h5 class="card-title">Details</h5>
                                  
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Email</label>
                                        <div class="col-lg-9">
                                            <input type="email" name="employee_email" value="{{ staffdetails.employee_email }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_phone" value="{{ staffdetails.employee_phone }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Pincode</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="employee_zipcode" value="{{ staffdetails.employee_zipcode }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">State</label>
                                        <div class="col-lg-9">
                                            <input type="text" value="{{ staffdetails.employee_state }}" name="employee_state" class="form-control">
                                            
                                        </div> 
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">District</label>
                                        <div class="col-lg-9">
                                            <input type="text" value="{{ staffdetails.employee_district }}" name="employee_district" class="form-control">
                                            
                                        </div>
                                        
                                    </div>
                      
                                    
                                </div>
                            </div>
                            {% if status == 1 %}
                            <div class="alert alert-success" role="alert">
                              Edited succesfully
                            </div>
                            {% endif %}
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}