{% extends 'master.html' %}
{% block content %}
{% load static %}






<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Estimates</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/user/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Estimates</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/user/addestimate" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i> Add Estimates
                    </a>
                    <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>  -->
                </div>
            </div>
        </div>

        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status:</label>
                            <select class="select">
                                <option>Select Status</option>
                                <option value="Draft">Draft</option>
                                <option value="Sent">Sent</option>
                                <option value="Viewed">Viewed</option>
                                <option value="Expired">Expired</option>
                                <option value="Accepted">Accepted</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estimate Number</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Estimate Number</th>
                                        <th>Customer</th>
                                        <th>Estimate Date</th>
                                        <th>Due Date</th>
                                        <th>Amount</th>
                                        <!-- <th>Status</th> -->
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/user/viewinvoice">EST-17ER281</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Marie Canales
                                            </h2>
                                        </td>
                                        <td>16 Nov 2020</td>
                                        <td>22 Nov 2020</td>
                                        <td>$100</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon  dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/admin/editestimate"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/admin/viewestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="view-estimate.html">EST-26AS699</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Barbara Moore
                                            </h2>
                                        </td>
                                        <td>5 Nov 2020</td>
                                        <td>10 Nov 2020</td>
                                        <td>$75</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/admin/editestimate"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/admin/viewestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="view-estimate.html">EST-11KI214</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                ṣhahil
                                            </h2>
                                        </td>
                                        <td>1 Nov 2020</td>
                                        <td>5 Nov 2020</td>
                                        <td>$175</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/admin/editestimate"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/admin/viewestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="view-estimate.html">EST-98HJ687</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Karlene Chaidez
                                            </h2>
                                        </td>
                                        <td>24 Oct 2020</td>
                                        <td>28 Oct 2020</td>
                                        <td>$1500</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/admin/editestimate"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/admin/viewestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}