{% extends 'master.html' %}
{% block content %}
{% load static %}






<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Estimates</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Estimates</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/addestimate" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i> Add Estimates
                    </a>
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" name="fromdate" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        <div class="form-group">
                            <label>Status:</label>
                            <select class="select form-control form-control-lg" name="field">
                                <option disabled selected>Select Status</option>
                                <option value="Pending">Pending</option>
                                <option value="Advanced">Advanced</option>
                                <option value="Partially Paid">Partially Paid</option>
                                <option value="Closed">Closed</option>
                             
                               
                            </select>
                        </div>
                     </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To</label>
                                <div class="cal-icon">
                                    <input class="form-control datetimepicker" name="todate" type="text">
                                </div>
                            </div>
                        </div>

                        <button type="submit" id="" class="btn btn-primary">View</button>




                    </div>

                </form>
            </div>
        </div>

        {%if srch_date %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Estimate ID</th>
                                        <th>Customer Name</th>
                                        <th>Estimate Date</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <!-- <th>Status</th> -->
                                        <!-- <th class="text-end">Action</th>  -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in srch_date %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                {{ i.id }}
                                            </h2>
                                        </td>
                                        <td>{{ i.clientd.client_name }}</td>

                                        <td>{{ i.est_fromdate }}</td>
                                        <td>{{ i.est_todate }}</td>
                                        <td>{% if i.est_status == 'Billed'  %} <span class="badge badge-pill bg-success-light">{{ i.est_status }}</span> {% elif i.est_status == 'Partialy Paid' %} <span class="badge bg-danger-light">{{ i.est_status }}</span> {% elif i.est_status == 'Advanced' %} <span class="badge bg-warning-light">{{ i.est_status }}</span> {% elif i.est_status == 'Closed' %} <span class="badge bg-primary-light">{{ i.est_status }}</span>  {% elif i.est_status == 'Pending' %} <span class="badge bg-info-light">{{ i.est_status }}</span>  {% endif %}  </td>

                                        <td>{{ i.est_balance }}</td>

                                   
                                    </tr>



                                    {% endfor %}
                                   
                              

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Estimate ID</th>
                                        <th>Customer Name</th>
                                        <th>Estimate Date</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <!-- <th>Status</th> -->
                                        <!-- <th class="text-end">Action</th>  -->
                                        <th class="text-end">Action</th> 

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in estimateList %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                {{ i.id }}
                                            </h2>
                                        </td>
                                        <td>{{ i.clientd.client_name }}</td>

                                        <td>{{ i.est_fromdate }}</td>
                                        <td>{{ i.est_todate }}</td>
                                        <td>{% if i.est_status == 'Billed'  %} <span class="badge badge-pill bg-success-light">{{ i.est_status }}</span> {% elif i.est_status == 'Partialy Paid' %} <span class="badge bg-danger-light">{{ i.est_status }}</span> {% elif i.est_status == 'Advanced' %} <span class="badge bg-warning-light">{{ i.est_status }}</span> {% elif i.est_status == 'Closed' %} <span class="badge bg-primary-light">{{ i.est_status }}</span>  {% elif i.est_status == 'Pending' %} <span class="badge bg-info-light">{{ i.est_status }}</span>  {% endif %}  </td>
                                        <td>{{ i.est_balance }}</td>

                                        <td class="text-right">
                                            <div class="dropleft dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/editestimate/{{ i.id }}"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="/Delectestimate/{{ i.id }}"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/viewestimate/{{ i.id }}"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                    <a class="dropdown-item" href="/addmaterial/{{ i.id }}"><i
                                                            class="fa fa-plus me-2"></i>Add Material </a>
                                                    <a class="dropdown-item"
                                                        href="/viewaddedmaterial/{{ i.id }}"><i
                                                            class="fa fa-search me-2"></i>View Added Material </a>
                                                    <a class="dropdown-item" href="/indexbill/{{ i.id }}"><i
                                                            class="far fa-file-alt me-2"></i>Bill</a>
                                                    <a class="dropdown-item" href="/indexadvanced/{{ i.id }}"><i
                                                            class="far fa-check-circle me-2"></i>Advance</a>
                                                    <a class="dropdown-item" href="/indexpartialy/{{ i.id }}"><i
                                                            class="far fa-paper-plane me-2"></i>Partialy Paid</a>
                                                    <a class="dropdown-item" href="/indexclosed/{{ i.id }}"><i
                                                            class="far fa-times-circle me-2"></i>Closed</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>



                                    {% endfor %}
                                    <!-- <tr>
                                        <td><a href="viewinvoice">EST-17ER281</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Marie Canales
                                            </h2>
                                        </td>
                                        <td>16 Nov 2020</td>
                                        <td>22 Nov 2020</td>
                                        <td>$100</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon  dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="editestimate"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="viewestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                           
                                                        </div>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td><a href="view-estimate.html">EST-26AS699</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Barbara Moore
                                            </h2>
                                        </td>
                                        <td>5 Nov 2020</td>
                                        <td>10 Nov 2020</td>
                                        <td>$75</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="editestimate"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="viewestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                           
                                                        </div>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td><a href="view-estimate.html">EST-11KI214</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                ṣhahil
                                            </h2>
                                        </td>
                                        <td>1 Nov 2020</td>
                                        <td>5 Nov 2020</td>
                                        <td>$175</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="editestimate"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="viewestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                           
                                                        </div>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td><a href="view-estimate.html">EST-98HJ687</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Karlene Chaidez
                                            </h2>
                                        </td>
                                        <td>24 Oct 2020</td>
                                        <td>28 Oct 2020</td>
                                        <td>$1500</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="editestimate"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="viewestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr> -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


       
    </div>
</div>






{% endblock %}