
{% extends 'master.html' %}
{% block content %}
{% load static %}



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Expenses</h3>
                    <ul class="breadcrumb">
                        <li ><a href="/user/index">Dashboard /</a></li>
                        <li class="breadcrumb-item active">Expenses</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/user/addexpenses" class="btn btn-primary">
                        <i class="fas fa-plus"></i>Add Expenses
                    </a>
                    <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a> -->
                </div>
            </div>
        </div>


        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Category:</label>
                            <select class="select form-control form-control-lg">
                                <option>Select Category</option>
                                <option>Advertising</option>
                                <option>Marketing</option>
                                <option>Software</option>
                                <option>Travel</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>From</label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>To</label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Category</th>
                                        <th>Customer</th>
                                        <th>Expense Date</th>
                                        <th>Amount</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Advertising</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Barbara Moore
                                            </h2>
                                        </td>
                                        <td>15 Nov 2020</td>
                                        <td>$145</td>
                                        <td class="text-end">
                                           
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Marketing</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Brian Johnson
                                            </h2>
                                        </td>
                                        <td>11 Nov 2020</td>
                                        <td>$254</td>
                                        <td class="text-end">
                                         
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Software</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Greg Lynch
                                            </h2>
                                        </td>
                                        <td>23 Oct 2020</td>
                                        <td>$145</td>
                                        <td class="text-end">
                                            
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}