{% extends 'master.html' %}
{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            
            {% for bank in bank %}
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class=" bg-1">

                            </span>
                            <div class="dash-count">
                                <div class="dash-title" style="font-size: 12px; font-weight: 900;"> {{bank.bank_name}}
                                </div>
                                <div class="dash-counts">
                                    <p>{{bank.bank_balance}}</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {% endfor %}
           
            
        </div>


        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Billed</h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/user/filter" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Customer</th>
                                                <th>Due Date</th>
                                                <th>Amount</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in billed %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        {{ i.clientd.client_name }}
                                                    </h2>
                                                </td>
                                                <td>{{ i.est_fromdate }}</td>
                                                <td>{{ i.est_balance }}</td>
                                                <td class="text-right">
                                                    <div class="dropleft dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="/user/editinvoice"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="/user/editestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-check-circle me-2"></i>Advance</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-paper-plane me-2"></i>Partialy Paid</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-times-circle me-2"></i>Closed</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                          


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Advanced</h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/user/filter" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Customer</th>
                                                <th>Due Date</th>
                                                <th>Amount</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in advanced %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        {{ i.clientd.client_name }}
                                                    </h2>
                                                </td>
                                                <td>{{ i.est_fromdate }}</td>
                                                <td>{{ i.est_balance }}</td>
                                                <td class="text-right">
                                                    <div class="dropleft dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="/user/editinvoice"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="/user/editestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-paper-plane me-2"></i>Partialy Paid</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-times-circle me-2"></i>Closed</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Partically Paid</h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/user/filter" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Customer</th>
                                                <th>Due Date</th>
                                                <th>Amount</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in paritialy %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        {{ i.clientd.client_name }}
                                                    </h2>
                                                </td>
                                                <td>{{ i.est_fromdate }}</td>
                                                <td>{{ i.est_balance }}</td>
                                                <td class="text-right">
                                                    <div class="dropleft dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="/user/editinvoice"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="/user/editestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            <a class="dropdown-item" href="addpayment/{{ i.id }}"><i
                                                                    class="far fa-times-circle me-2"></i>Closed</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Closed</h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/user/filter" class="btn-right btn btn-sm btn-outline-primary">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Customer</th>
                                                <th>Due Date</th>
                                                <th>Amount</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in closed %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        {{ i.clientd.client_name }}
                                                    </h2>
                                                </td>
                                                <td>{{ i.est_fromdate }}</td>
                                                <td>{{ i.est_balance }}</td>
                                                <td class="text-right">
                                                    <div class="dropleft dropdown-action">
                                                        <a href="#" class="action-icon dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="/user/editinvoice"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                            <a class="dropdown-item" href="/user/editestimate"><i
                                                                    class="far fa-eye me-2"></i>View</a>
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-5 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Enquire List</h5>
                            </div>
                            <div class="col-auto">
                                <a href="/user/estimate" class="btn-right btn btn-sm btn-outline-primary">
                                    View All
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Customer</th>
                                        <th>Estimate Date</th>
                                        <th>Amount</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in pending %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                {{ i.clientd.client_name }}
                                            </h2>
                                        </td>
                                        <td>{{ i.est_fromdate }}</td>
                                        <td>{{ i.est_balance }}</td>
                                        <td class="text-right">
                                            <div class="dropleft dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/user/editinvoice"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                    <a class="dropdown-item" href="/user/editestimate"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                    <a class="dropdown-item" href="indexbill/{{ i.id }}"><i
                                                            class="far fa-file-alt me-2"></i>Bill</a>
                                                            <a class="dropdown-item" href="indexadvanced/{{ i.id }}"><i
                                                                class="far fa-check-circle me-2"></i>Advance</a>
                                                        <a class="dropdown-item" href="indexpartialy/{{ i.id }}"><i
                                                                class="far fa-paper-plane me-2"></i>Partialy Paid</a>
                                                        <a class="dropdown-item" href="indexclosed/{{ i.id }}"><i
                                                                class="far fa-times-circle me-2"></i>Closed</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}







                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>

    $(document).on('click', '#toggle_btn', function () {
        if ($('body').hasClass('mini-sidebar')) {
            $('body').removeClass('mini-sidebar');
            $('.subdrop + ul').slideDown();
        } else {
            $('body').addClass('mini-sidebar');
            $('.subdrop + ul').slideUp();
        }
        setTimeout(function () {
            mA.redraw();
            mL.redraw();
        }, 300);
        return false;
    });
</script>

{% endblock %}