{% extends 'master.html' %}
{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Invoices</h3>
                    <ul class="breadcrumb">
                        <li><a href="/user/index">Dashboard /</a></li>
                        <li class="breadcrumb-item active">Invoices</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/user/invoiveList" class="invoices-links active">
                        <i data-feather="list"></i>
                    </a>
                    <a href="/user/invoivegrid" class="invoices-links">
                        <i data-feather="grid"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
                <div class="invoices-main-tabs">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-8">
                            <!-- <div class="invoices-tabs">
                                <ul id="toggle">
                                    <li><a href="#" class="active" id="allinvoice">All Invoice</a></li>
                                    <li><a href="#" class="font-regular" id="billed">Billed</a></li>
                                    <li><a href="#" class="font-regular" id="advanced">Advanced</a></li>
                                    <li><a href="#" class="font-regular" id="parially">Parially Paid</a></li>
                                    <li><a href="#" class="font-regular" id="closed">Closed</a></li>
                                </ul>

                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="invoices-settings-btn">
                                <a href="invoices-settings.html" class="invoices-settings-icon">
                                    <i data-feather="settings"></i>
                                </a>
                                <a href="/user/addinvoice" class="btn">
                                    <i data-feather="plus-circle"></i> New Invoice
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="inovices-widget-header">
                            <span class="inovices-widget-icon">
                                <img src="{% static 'img/icons/invoices-icon1.svg' %}" alt="">
                            </span>
                            <div class="inovices-dash-count">
                                <div class="inovices-amount">$8,78,797</div>
                            </div>
                        </div>
                        <p class="inovices-all">Pending Invoices <span>50</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="inovices-widget-header">
                            <span class="inovices-widget-icon">
                                <img src="{% static 'img/icons/invoices-icon2.svg' %}" alt="">
                            </span>
                            <div class="inovices-dash-count">
                                <div class="inovices-amount">$4,5884</div>
                            </div>
                        </div>
                        <p class="inovices-all">Billed Invoices <span>60</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="inovices-widget-header">
                            <span class="inovices-widget-icon">
                                <img src="{% static 'img/icons/invoices-icon3.svg' %}" alt="">
                            </span>
                            <div class="inovices-dash-count">
                                <div class="inovices-amount">$2,05,545</div>
                            </div>
                        </div>
                        <p class="inovices-all">Parially Paid Invoices <span>70</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card inovices-card">
                    <div class="card-body">
                        <div class="inovices-widget-header">
                            <span class="inovices-widget-icon">
                                <img src="{% static 'img/icons/invoices-icon4.svg' %}" alt="">
                            </span>
                            <div class="inovices-dash-count">
                                <div class="inovices-amount">$8,8,797</div>
                            </div>
                        </div>
                        <p class="inovices-all">Closed Invoices <span>80</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- all invoice -->


        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Invoice ID</th>
                                        <th>Category</th>
                                        <th>Created on</th>
                                        <th>Invoice to</th>
                                        <th>Amount</th>
                                        <th>Due date</th>
                                        <th>Status</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="/user/invoicedetails" class="invoice-link">IN093439#@09</a>
                                        </td>
                                        <td>Advertising</td>
                                        <td>16 Mar 2022</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Barbara Moore
                                            </h2>
                                        </td>
                                        <td class="text-primary">$1,54,220</td>
                                        <td>23 Mar 2022</td>
                                        <td><span class="badge bg-success-light">Paid</span></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="/user/editinvoice"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="/user/invoicedetails"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="/user/invoicedetails" class="invoice-link">IN093439#@10</a>
                                        </td>
                                        <td>Food</td>
                                        <td>14 Mar 2022</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Karlene Chaidez
                                            </h2>
                                        </td>
                                        <td class="text-primary">$1,222</td>
                                        <td>18 Mar 2022</td>
                                        <td><span class="badge bg-danger-light">Overdue</span></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="/user/editinvoice"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="/user/invoicedetails"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="/user/invoicedetails" class="invoice-link">IN093439#@11</a>
                                        </td>
                                        <td>Marketing</td>
                                        <td>7 Mar 2022</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Russell Copeland
                                            </h2>
                                        </td>
                                        <td class="text-primary">$3,470</td>
                                        <td>10 Mar 2022</td>
                                        <td><span class="badge bg-primary-light">Cancelled</span></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="/user/editinvoice"><i
                                                            class="far fa-edit me-2"></i>Edit</a>
                                                    <a class="dropdown-item" href="/user/invoicedetails"><i
                                                            class="far fa-eye me-2"></i>View</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="far fa-trash-alt me-2"></i>Delete</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>





{% endblock %}