{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Fiesta Login</title>

    <link rel="shortcut icon" href="{% static 'img/logo/img2.jpeg' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="{% static 'img/logo/Fiesta logo.png' %}" alt="Logo">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <p class="account-subtitle">Access Fiesta Website</p>
                            <form action="" method="post" >
                                {% csrf_token %} 
                                <div class="form-group">
                                    <label class="form-control-label">Username</label>
                                    <input type="text" name="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Password</label>
                                    <div class="pass-group">
                                        <input type="password" name="password" class="form-control pass-input">
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            
                                        </div>
                                        <div class="col-6 text-end">
                                            <a class="forgot-link" href="/forget">Forgot Password ?</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary w-100" type="submit">Login</button>
                              
                                {% if status == 1 %}
                                <div class="alert alert-danger" role="alert">
                                  Invalid User Details
                                </div>
                                {% elif status == 2 %}
                               
                                <div class="alert alert-warning" role="alert">
                                    Access Denied
                                  </div>
                                {% endif %}
                                
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/feather.min.js' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>