{% extends 'master.html' %}
{% block content %}
{% load static %}

<style>
    .timeline-badge.primary {
	background-color: #fb9678;
}
    .badge{
        border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    min-width: 46px;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;

    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employees</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/admin/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Employees</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/admin/addmstaff" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>Add Employees
                    </a>
                    <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a> -->
                </div>
            </div>
        </div>


        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Employees name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Employees Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th class="text-end">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in employeelist %}
                                    <tr>
        
                                        <td> {{ i.employee_name }} </td>
                                        <td> {{ i.employee_email }} </td>
                                        <td> {{ i.employee_phone }} </td>
                                        <td> {{ i.employee_username }} </td>
                                        <td  {% if i.employee_status == 'Active'  %} class="badge badge-pill  bg-success-light" {% endif %} > {{ i.employee_status }} </td>
                                        <td class="text-end">
                                            <a href="/admin/viewcustomer"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> view</a>
                                            <a href="/admin/editstaff" class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> Edit</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
        
        
                                    </tr>
                                    {% endfor %}
        
        
                                    </tr>
                                    <!-- <tr>
                                        <td>
                                            <h2 class="table-avatar">

                                                <a>Brian Johnson <span>9876543210</span></a>
                                            </h2>
                                        </td>
                                        <td><a href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="6705150e06090d080f0914080927021f060a170b024904080a">[email&#160;protected]</a>
                                        </td>
                                        <td>$295</td>
                                        <td>16 Nov 2020</td>
                                        <td><span class="badge badge-pill bg-success-light">Active</span></td>
                                        <td class="text-end">
                                            <a href="/admin/viewcustomer"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> view</a>
                                            <a href="/admin/editstaff" class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> Edit</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">

                                                <a>Alex Campbell <span>9876543210</span></a>
                                            </h2>
                                        </td>
                                        <td><a href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="87e6ebe2ffe4e6eaf7e5e2ebebc7e2ffe6eaf7ebe2a9e4e8ea">[email&#160;protected]</a>
                                        </td>
                                        <td>-</td>
                                        <td>30 Mar 2020</td>
                                        <td><span class="badge badge-pill bg-success-light">Active</span></td>
                                        <td class="text-end">
                                            <a href="/admin/viewcustomer"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> view</a>
                                            <a href="/admin/editstaff" class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> Edit</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">

                                                <a>Wendell Ward <span>9876543210</span></a>
                                            </h2>
                                        </td>
                                        <td><a href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection"
                                                class="__cf_email__"
                                                data-cfemail="3443515a505158584355465074514c55594458511a575b59">[email&#160;protected]</a>
                                        </td>
                                        <td>$7500</td>
                                        <td>22 Feb 2020</td>
                                        <td><span class="badge badge-pill bg-danger-light">InActive</span></td>
                                        <td class="text-end">
                                            <a href="/admin/viewcustomer"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> view</a>
                                            <a href="/admin/editstaff" class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> Edit</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}