{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Fiesta Events</title>

    <!-- index -->
    <link rel="stylesheet" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endindex -->

    <!-- customer -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
    <!-- end customer -->


    <!-- add customer -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <!-- end add customer -->


    <!-- estimate -->
    <!-- end etimate -->


    <!-- invoicelist -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <!-- invoice list -->

    <!-- invoice grid -->
    <!-- end invoice grid -->

    <!-- editinvoice -->
    <!-- end editinvoice -->


    <!-- invoice settings -->
    <!-- end invoice settings -->


    <!-- edit customer -->
    <!-- edit customer -->

    <!-- bank settings -->
    <!-- bank settings -->


    <!-- boostrap icon -->
    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
    </style>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css"> -->
    <!-- @import url(""); -->





</head>

<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

    <div class="main-wrapper" id="head">

        <div class="header header-one" id="header">

            <div class="header-left header-left-one" id="headtag">
                <a href="/user/index" class="logo">
                    <img src="{% static 'img/logo/Fiesta logo2.png' %}" alt="Logo">
                </a>
                <a href="/user/index" class="white-logo">
                    <img src="{% static 'img/logo/Fiesta logo2.png' %}" alt="Logo">
                </a>
                <a href="/user/index" class="logo logo-small">
                    <img src="{% static 'img/logo/Fiesta logo2.png' %}" alt="Logo" width="30" height="30">
                </a>
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <!-- <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div> -->


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav nav-tabs user-menu">





                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            
                            <img src="{% static 'img/logo/Fiesta logo1.jpg' %}" alt="">
                            <span class="status online"></span>
                        </span>
                        {% if permission == True %}
                        <span>Admin</span>
                        {% else %}
                        <span>Employee</span>
                        {% endif %}
                        
                    </a>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i>
                            Profile</a>
                        <a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i>
                            Settings</a> -->
                        <a class="dropdown-item" href="/user/admin_logout"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                      
                    </div>
                </li>

            </ul>


        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul id="toggle">
                        <li class="menu-title"><span>Main</span></li>
                        <li {% if is_index %} class="active" {% endif %}>
                            <a href="/user/index"><i class="fa fa-home"
                                    data-bs-toggle="tooltip"></i><span>Dashboard</span></a>
                        </li>
                        <li {% if is_customer %} class="active" {% endif %}>
                            <a href="/user/customer"><i class="fa fa-users" data-bs-toggle="tooltip"></i>
                                <span>Clients</span></a>
                        </li>
                        {% if permission == True %}
                        <li {% if is_marketingstaff %} class="active" {% endif %}>
                            <a href="/user/marketingstaff"><i class="fa fa-user" data-bs-toggle="tooltip"
                                    title="fa fa-user"></i> <span>Employees</span></a>
                        </li>
                        {% endif %}
                        <li {% if is_estimate %} class="active" {% endif %}>
                            <a href="/user/estimate"><i class="fa fa-file" data-bs-toggle="tooltip"
                                    title="fa fa-file-text"></i><span>Estimates</span></a>
                        </li>
                        <li {% if is_invoice %} class="active" {% endif %}>
                            <a href="/user/invoiceList"><i class="fa fa-clipboard" data-bs-toggle="tooltip"
                                    title="fa fa-clipboard"></i><span>Invoices </span></a>
                        </li>

                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="fa fa-cart-plus"></i>
                                <span> Product & Stock</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li {% if is_product %} class="active" {% endif %}>
                                    <a href="/user/products"><i class="fa fa-coffee" data-bs-toggle="tooltip"
                                            title="fa fa-coffee"></i> Products</a>
                                </li>
                                <li {% if is_stock %} class="active" {% endif %}>
                                    
                                    <a href="/user/stock"><i class="material-icons">format_list_numbered</i>
                                        Stock </a>
                                </li>
                                <li {% if is_rent %} class="active" {% endif %}>
                                    <a href="/user/rentoutlist"><i class="bi bi-bag-fill"></i> Rent Out List</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li {% if is_payment %} class="active" {% endif %}>
                            <a href="/user/payment"><i class="fa fa-credit-card"></i> <span>Payments</span></a>
                        </li>
                        <!-- ----------------------------- -->
                        {% if permission == True %}
                        <li class="submenu">
                            <a href="#">
                                <i class="fa fa-th-list"></i>
                                <span> Income & Expences</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li {% if is_expenses %} class="active" {% endif %}>
                                    <a href="/user/expenses"><i class="fas fa-chart-area"></i>Expenses </a>
                                </li>
                                <li {% if is_profit %} class="active" {% endif %}>

                                    <a href="/user/profit"><i class=" bi bi-cash"></i>Income </a>
                                </li>
                                <li {% if is_profitandloss %} class="active" {% endif %}>
                                    <a href="/user/profitandloss"><i class="fas fa-sitemap"></i> Profit And Loss
                                       </a>
                                </li>
                            </ul>
                        </li>
                        <!-- ----------------------------- -->
                        
                        
                        <li {% if is_bank %} class="active" {% endif %}>
                            <a href="/user/bank"><i class="fa fa-university"></i> <span> Add Payment Method</span></a>
                        </li>
                       
                        <li {% if is_filter %} class="active" {% endif %}>
                            <a href="/user/filter"><i class="fa fa-filter"></i> <span> Advace filter </span></a>
                        </li>
                        <li {% if is_print %} class="active" {% endif %}>
                            <a href="/user/printlist"><i class="fa fa-eye"></i> <span> Preview  List </span></a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>




        {% block content %}
        {% endblock %}

    </div>




</body>


<!-- index -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'plugins/apexchart/chart-data.js' %}"></script>
{% comment %}
<script src="{% static 'js/script.js' %}"></script> {% endcomment %}

<!-- end index -->


<!-- customer -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
<!-- end customer -->



<!-- add customer -->
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<!-- end add customer -->


<!-- estimate -->
<!-- end estimate -->

<!-- invoice list -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<!-- end invoice list -->

<!-- counter index -->

<script src="{% static 'plugins/countup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'plugins/countup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'plugins/countup/jquery.missofis-countdown.js' %}"></script>

<!-- end counter  -->




<!-- invoice grid -->
<!-- end invoice grid -->

<!-- edit invoice -->
<!-- end edit invoice -->

<!-- invoice settings -->
<!-- end invoice settings -->

<!-- editcustomer -->
<!-- edit customer -->






<script>
    if ($('.counter').length > 0) {
        $('.counter').counterUp({
            delay: 20,
            time: 2000
        });
    }

    if ($('.datetimepicker').length > 0) {
        $('.datetimepicker').datetimepicker({
            format: 'DD-MM-YYYY',
            icons: {
                up: "fas fa-angle-up",
                down: "fas fa-angle-down",
                next: 'fas fa-angle-right',
                previous: 'fas fa-angle-left'
            }
        });
    }

    //  $('body').append('<div class="sidebar-overlay"></div>');
    // $(document).on('click', '#mobile_btn', function () {
    // 	$wrapper.toggleClass('slide-nav');
    // 	$('.sidebar-overlay').toggleClass('opened');
    // 	$('html').toggleClass('menu-opened');
    // 	return false;
    // });



    $(document).on('click', '#toggle_btn', function () {
        if ($('body').hasClass('mini-sidebar')) {
            $('body').removeClass('mini-sidebar');
            $('.subdrop + ul').slideDown();
        } else {
            $('body').addClass('mini-sidebar');
            $('.subdrop + ul').slideUp();
        }
        setTimeout(function () {
            mA.redraw();
            mL.redraw();
        }, 300);
        return false;
    });
    // ---------------------

    "use strict";

    // Variables declarations

    var $wrapper = $('.main-wrapper');
    var $pageWrapper = $('.page-wrapper');
    var $slimScrolls = $('.slimscroll');

    // Sidebar
    var Sidemenu = function () {
        this.$menuItem = $('#sidebar-menu a');
    };

    function init() {
        var $this = Sidemenu;
        $('#sidebar-menu a').on('click', function (e) {
            if ($(this).parent().hasClass('submenu')) {
                e.preventDefault();
            }
            if (!$(this).hasClass('subdrop')) {
                $('ul', $(this).parents('ul:first')).slideUp(350);
                $('a', $(this).parents('ul:first')).removeClass('subdrop');
                $(this).next('ul').slideDown(350);
                $(this).addClass('subdrop');
            } else if ($(this).hasClass('subdrop')) {
                $(this).removeClass('subdrop');
                $(this).next('ul').slideUp(350);
            }
        });
        $('#sidebar-menu ul li.submenu a.active').parents('li:last').children('a:first').addClass('active').trigger('click');
    }

    // Sidebar Initiate
    init();

    // Mobile menu sidebar overlay
    $('body').append('<div class="sidebar-overlay"></div>');
    $(document).on('click', '#mobile_btn', function () {
        $wrapper.toggleClass('slide-nav');
        $('.sidebar-overlay').toggleClass('opened');
        $('html').toggleClass('menu-opened');
        return false;
    });

    // Sidebar overlay
    $(".sidebar-overlay").on("click", function () {
        $wrapper.removeClass('slide-nav');
        $(".sidebar-overlay").removeClass("opened");
        $('html').removeClass('menu-opened');
    });

    // Page Content Height
    if ($('.page-wrapper').length > 0) {
        var height = $(window).height();
        $(".page-wrapper").css("min-height", height);
    }

    // Page Content Height Resize
    $(window).resize(function () {
        if ($('.page-wrapper').length > 0) {
            var height = $(window).height();
            $(".page-wrapper").css("min-height", height);
        }
    });

    // Select 2
    if ($('.select').length > 0) {
        $('.select').select2({
            minimumResultsForSearch: -1,
            width: '100%'
        });
    }
    // ------------------




    //    toggle

    // end toggle

    // filters
    $(document).on('click', '#filter_search', function () {
        $('#filter_inputs').slideToggle("slow");
    });

    // endfilter



    // datatable
    if ($('.datatable').length > 0) {
        $('.datatable').DataTable({
            language: {
                search: '<i class="fas fa-search"></i>',
                searchPlaceholder: "Search"
            }
        });
    }
    // end datatable





    // end  + in add invoice




    // selectbox
    $('.app-listing .selectBox').on("click", function () {
        $(this).parent().find('#checkBoxes').fadeToggle();
        $(this).parent().parent().siblings().find('#checkBoxes').fadeOut();
    });

    $('.invoices-main-form .selectBox').on("click", function () {
        $(this).parent().find('#checkBoxes-one').fadeToggle();
        $(this).parent().parent().siblings().find('#checkBoxes-one').fadeOut();
    });
    // end selectbox




    $(".add-table-items").on('click', '.remove-btn', function () {
        $(this).closest('.add-row').remove();
        return false;

    });






 // bank settings
 // end bank settings
</script>
{% block JS %}

{% endblock %}

</html>