{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Payments</h3>
                    <ul class="breadcrumb">
                        <li ><a href="/user/index">Dashboard /</a></li>
                        <li class="breadcrumb-item active">Payments</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <!-- <a href="/user/addpayment" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i> Add Payments
                    </a> -->
                    <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a> -->
                </div>
            </div>
        </div>


        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Customer</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Payment Mode</label>
                            <select class="select">
                                <option>Payment Mode</option>
                                <option>Cash</option>
                                <option>Cheque</option>
                                <option>Card</option>
                                <option>Online</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        
                                        <th>Customer</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Payment Method</th>
                                        <th>Estimate ID</th>
                                        <!-- <th class="text-end">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in paymentlist %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                {{ i.clientid.client_name }}
                                            </h2>
                                        </td>
                                        <td>₹{{ i.paymentamount }}</td>
                                       
                                        <td>{{ i.paymentdate }}</td>
                                        <td>{{ i.bankid.bank_name }}</td>
                                        <td>{{ i.estimateId.id }}</td>
                                        <!-- <td class="text-end">
                                            <a class="btn btn-sm btn-white me-2" href="javascript:void(0);">
                                                <i class="fas fa-download me-1"></i> PDF
                                            </a>
                                            <a class="btn btn-sm btn-white" href="/user/invoicedetails">
                                                <i class="far fa-eye me-1"></i> View
                                            </a>
                                        </td> -->
                                       
                                    </tr>


                                    
                                    {% endfor %}

                                    <!-- <tr>
                                        <td><a href="javascript:void(0);">#3682303</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                Marie Canales
                                            </h2>
                                        </td>
                                        <td>$717</td>
                                        <td>17 Nov 2020</td>
                                        <td>Visa <strong>4321</strong></td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-white me-2" href="javascript:void(0);">
                                                <i class="fas fa-download me-1"></i> PDF
                                            </a>
                                            <a class="btn btn-sm btn-white" href="/user/invoicedetails">
                                                <i class="far fa-eye me-1"></i> View
                                            </a>
                                        </td>
                                    </tr> -->
                                   
                               
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
