{% extends 'master.html' %}
{% block content %}
{% load static %}




<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Preview List</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Preview List</li>
                    </ul>
                </div>
            
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Estimate Id</th>
                                        <th>Invoice No</th>

                                        <th class="text-end">Invoice Bill</th>
                                        <th class="text-end">Stock Bill</th>
                                        <th class="text-end">Delete Bill</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in listview %}
                                    <tr>
        
                                        <td> {{ i.estimateId.clientd.client_name }} </td>
                                        <td> {{ i.estimateId.id }} </td>
                                        <td> {{ i.prviewnumber }} </td>
                                          <td class="text-end">
                                            <!-- <a class="btn btn-sm btn-white me-2"  onclick="makeprint()">
                                                <i class="fas fa-download me-1"></i> PDF
                                            </a> -->
                                            <a class="btn btn-sm btn-white" href="/billsaved/{{i.estimateId.id}}">
                                                <i class="far fa-eye me-1"></i> View
                                            </a>
                                            
                                        </td>
                                        <td class="text-end">
                                           
                                            <a class="btn btn-sm btn-white" href="/stockbill/{{i.estimateId.id}}">
                                                <i class="far fa-eye me-1"></i> View
                                            </a>
                                           
                                        </td>
                                        <td class="text-end">
                                           
                                            
                                            <a  onclick="deletelist('{{ i.id }}')"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                        

        
                                    </tr>
                                    {% endfor %}
        
        
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function deletelist(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/deleteprintlist/" + id
                    }, 1000);
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }
</script>


{% endblock %}