{% extends 'master.html' %}
{% block content %}
{% load static %}



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Product </h3>
                    <ul class="breadcrumb">
                        <li><a href="/admin/index">Dashboard /</a></li>
                        <li class="breadcrumb-item active">Items List</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
                <div class="invoices-items-main-tabs">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="invoices-items-tabs">
                                <ul>
                                    <li><a href="/admin/products" class="active"> All Products</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
                <div class="invoices-main-tabs border-0 pb-0">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="invoices-settings-btn invoices-settings-btn-one">
                                <a href="/admin/productcatogory" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#add_items">
                                    <i data-feather="plus-circle"></i> Add New Product
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>catagory</th>
                                        <th>price/Per head</th>
                                        <th>price/per Kg</th>

                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                               <tbody>
                                {% for i in view_product %}
                                <tr>
                                    <td>{{i.food_name }} </td>
                                        <td>{{i.catagory}}</td>
                                        <td>{{i.priceper_head}}</td>
                                        <td>{{i.priceper_kg}}</td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-white text-success" href="#" data-bs-toggle="modal"
                                                data-bs-target="#edit_items"><i class="far fa-edit  me-1"></i>Edit</a>
                                            <a class="btn btn-sm btn-white text-primary" href="#" data-bs-toggle="modal"
                                                data-bs-target="#view_paid"><i class="fa fa-eye me-1"></i>View</a>
                                            <a class="btn btn-sm btn-white text-danger" href="#" data-bs-toggle="modal"
                                                data-bs-target="#delete_paid"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                </tr>

                                {% endfor %}
                               </tbody>

                               
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal custom-modal fade bank-details" id="add_items" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header text-start mb-0">

                    <h4 class="mb-0">Create New Product</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bank-inner-details">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            <div class="form-group">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <label>Food Name</label>
                                    <input type="text" class="form-control" placeholder="Add New Item" name="food_name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-select form-control" name="catagory">
                                    <option>Select Category</option>
                                    <option value="Welcome Drink">Welcome Drink</option>
                                    <option value="Soups">Soups</option>
                                    <option value="SoupApetizers">Apetizer</option>
                                    <option value="Breads">Breads</option>
                                    <option value="Salads">Salads</option>
                                    <option value="Contintal Snacks">Contintal Snacks</option>
                                    <option value="Main Course">Main Course</option>
                                    <option value="Biriyani">Biriyani</option>
                                    <option value="Noodles">Noodles</option>
                                    <option value="Beef Dishes">Beef Dishes</option>
                                    <option value="Chiken Dishes">Chiken Dishes</option>
                                    <option value="Mutton Dishes">Mutton Dishes</option>
                                    <option value="Fish Dishes">Fish Dishes</option>
                                    <option value="Prawns Dishes">Prawns Dishes</option>
                                    <option value="Thandoories">Thandoories</option>
                                    <option value="Desserts">Desserts</option>
                                    <option value="Pastries">Pastries</option>
                                    <option value="Sweets">Sweets</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Price Per Head</label>
                                <input type="text" class="form-control" placeholder="$" name="priceper_head">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Price per Kg</label>

                                <input type="text" class="form-control" placeholder="$/kg" name="priceper_kg">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Food Deatails </label>
                                <textarea class="form-control" placeholder="Food Deatails"
                                    name="food_deatails"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bank-details-btn">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn bank-cancel-btn me-2">Cancel</a>
                    <button class=" btn bank-save-btn" type="submit"> save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal custom-modal fade" id="delete_paid" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Invoice Iems</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary paid-continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal"
                                class="btn btn-primary paid-cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- view -->
<div class="modal custom-modal fade" id="view_paid" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center container mt-5">
                    <div class="card p-3 py-4">
                        <h5 class="mb-0">Product Name</h5>
                        <h4 class="mb-0">Category</h4>
                        <span class="text-black-50 p-description"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text
                            of the printing and typesetting industry. Lorem Ipsum has been...<br></span>

                        <div class="d-flex justify-content-between align-items-center mt-4"><span>$ 99.99
                                per/head</span><br><span>100.99 per/kg</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- edit -->
<div class="modal custom-modal fade bank-details" id="edit_items" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header text-start mb-0">
                    <h4 class="mb-0">Edit Product</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bank-inner-details">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Food Name</label>
                                <input type="text" class="form-control" placeholder="Add New Item">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-select form-control">
                                    <option>Select Category</option>
                                    <option>Welcome Drink</option>
                                    <option>Soups</option>
                                    <option>Apetizer</option>
                                    <option>Breads</option>
                                    <option>Salads</option>
                                    <option value="">Snacks</option>
                                    <option value="">Contintal Snacks</option>
                                    <option value="">Main Course</option>
                                    <option value="">Biriyani</option>
                                    <option value="">Noodles</option>
                                    <option value="">Beef Dishes</option>
                                    <option value="">Chiken Dishes</option>
                                    <option value="">Mutton Dishes</option>
                                    <option value="">Fish Dishes</option>
                                    <option value="">Prawns Dishes</option>
                                    <option value="">Thandoories</option>
                                    <option value="">Desserts</option>
                                    <option value="">Pastries</option>
                                    <option value="">Sweets</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Price Per Head</label>
                                <input type="text" class="form-control" placeholder="$">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Price per Kg</label>
                                <input type="text" class="form-control" placeholder="$/kg">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Food Deatails </label>
                                <textarea class="form-control" placeholder="Food Deatails"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="bank-details-btn">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn bank-cancel-btn me-2">Cancel</a>
                    <a href="javascript:void(0);" class="btn bank-save-btn">Save Item</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}