{% extends "master.html" %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Profit & Loss Report
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="/user/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Reports
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="#" class="btn btn-primary">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Slect Date Range
                            </label>
                            <select class="select form-control">
                                <option>
                                    Select
                                </option>
                                <option>
                                    Today
                                </option>
                                <option>
                                    This Week
                                </option>
                                <option>
                                    This Month
                                </option>
                                <option>
                                    This Quarter
                                </option>
                                <option>
                                    This Year
                                </option>
                                <option>
                                    Previous Week
                                </option>
                                <option>
                                    Previous Month
                                </option>
                                <option>
                                    Previous Quarter
                                </option>
                                <option>
                                    Previous Year
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                From
                            </label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                To
                            </label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Sl.No
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th class="text-end">
                                            Net Profit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            5 Jan 2021
                                        </td>
                                        <td>
                                            income
                                        </td>
                                        <td>
                                            $ 90000
                                        </td>
                                        <td class="text-end">
                                            $70000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            5 Jan 2021
                                        </td>
                                        <td>
                                            income
                                        </td>
                                        <td>
                                            $ 90000
                                        </td>
                                        <td class="text-end">
                                            $70000
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            5 Jan 2021
                                        </td>
                                        <td>
                                            Expense
                                        </td>
                                        <td>
                                            $ 90000
                                        </td>
                                        <td class="text-end">
                                            $70000
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}