{% extends "master.html" %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Profit & Loss Report
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="/user/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Reports
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-auto">
                    <a href="#" class="btn btn-primary">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From</label>
                               
                                    <input class="form-control " name="fromdate" type="date">
                             
                            </div>
                        </div>
                       

                        <button type="submit" id="" class="btn btn-primary">View</button>




                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable" id="netprofittable">
                                <thead class="thead-light">
                                    <tr>

                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th class="text-end">
                                            Net Profit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        incomeSum = []
        $.ajax({
            url: "/user/netprofit/",
            type: 'GET',
            success: function (responce) {

                var data = responce['data']
                for (var i = 0; i < data.length; i++) {
                    expenceSum = []
                    incomeData = []
                    expenceData = []

                    var income
                    var expence
                    if (data[i].incomeamount != null) {
                        income = data[i].incomeamount
                    }
                    else {
                        income = 0
                    }
                    incomeSum.push(income)
                    if (data[i].expencesasamount != null) {
                        expence = data[i].expencesasamount
                    }
                    else {
                        expence = 0
                    }
                    expenceSum.push(expence)
                    var sumIncome = incomeSum.reduce(function (a, b) {
                        return a + b
                    }, 0)
                    var sumExpense = expenceSum.reduce(function (a, b) {
                        return a + b
                    }, 0)
                    netprofit = sumIncome - sumExpense
                    incomeSum = []
                    incomeSum.push(netprofit)

                    table = $("#netprofittable").DataTable();
                    if (data[i].incomeamount != null) {
                        incomeData.push([data[i].date, data[i].incomestatus, data[i].incomeamount, netprofit])
                        table.rows.add(incomeData).draw()
                    }
                    if (data[i].expencesasamount != null) {
                        expenceData.push([data[i].expencesdate, data[i].expencestatus, data[i].expencesasamount, netprofit])
                        table.rows.add(expenceData).draw()
                    }
                    else {

                    }

                }
                // console.log(data.length)


                // console.log(responce)

            },


        })

    })

</script>

{% endblock %}