{% extends 'master.html' %}
{% block content %}
{% load static %}
<!-- estimate bill-->
<link rel="stylesheet" href="{% static 'estbill/css/style.css' %}">
<!-- end etimate -->

<div class="cs-container">
  <div class="cs-invoice cs-style1">
    <div class="cs-invoice_in" id="download_section">
      <div class="cs-invoice_head cs-type1 cs-mb25">
        <div class="cs-invoice_left">
          <div class="cs-logo cs-mb5"> <img src="{% static 'img/FIESTA.png' %}" style="width:230px;" alt="">
          </div>



        </div>
        <div class="cs-invoice_right cs-text_right">
          <div class="cs-logo cs-mb5"> <img src="{% static 'img/GSTIN.png' %}" style="width:230px;" alt="">
          </div>
          <!-- <p class="cs-invoice_number cs-primary_color cs-mb0 cs-f16"><b class="cs-primary_color">Fssai No:</b>
            113180100006000</p>
          <p class="cs-invoice_number cs-primary_color cs-mb0 cs-f16"><b class="cs-primary_color">GST No:</b>
            32DHLPM3616R1ZT</p> -->
          <p>
            AP/161 A,MP Complex,<br />
            Vazhakkad Road,AREEKODE, <br />
            Malappuram <br />
            Kerala-673639
          </p>
        </div>
      </div>
      <div class="cs-invoice_head cs-mb10">
        <div class="cs-invoice_left">

        </div>
        <div class="cs-invoice_right cs-text_right">

        </div>
      </div>
      <ul class="cs-list cs-style2">
        <li>
          <div class="cs-list_left">Customer Name : <b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.clientd.client_name}}</b></div>
          <div class="cs-list_right">Phone : <b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.clientd.client_phone}}</b>
          </div>
        </li>
        <li>
          <div class="cs-list_right">Event From Date :<b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.est_fromdate}}</b></div>
          <div class="cs-list_right">Email : <b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.clientd.client_email}}</b></div>
        </li>
        <li>
          <div class="cs-list_right">Event To Date : <b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.est_todate}}</b></div>
          <div class="cs-list_left">Address : <b
              class="cs-primary_color cs-semi_bold ">{{clientdetails.clientd.client_address}}

        </li>
      </ul>
      <div class="cs-table cs-style2">
        <div class="cs-round_border">
          <div class="cs-table_responsive">
            <table>
              <thead>
                <tr class="cs-focus_bg">
                  <th class="cs-width_5 cs-semi_bold cs-primary_color">Category</th>
                  <th class="cs-width_5 cs-semi_bold cs-primary_color">Items</th>

                </tr>
              </thead>
              <tbody>


                {% regroup products by productid__catagory__category as caragory_list %}

                {% for p in caragory_list %}
                <tr>
                  <td class="cs-width_5"> {{ p.grouper }}</td>


                  <td class="cs-width_5">
                    <ul>
                      {% for pc in p.list %}
                      <li style="line-height: 40px;">{{ pc.productid__food_name }}</li>
                      {% endfor %}
                    </ul>
                  </td>



                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="cs-table cs-style2">
        <div class="cs-table_responsive">
          <table>
            <tbody>
              <tr class="cs-table_baseline">
                <td class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">Sub Total:</td>
                <td class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">₹ {{ totalAmonut }}</td>
              </tr>
              <tr class="cs-table_baseline">
                <td class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">SGST Amount (2.5%):</td>
                <td class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">₹ {{ cgst }}
                </td>
              </tr>
              <tr class="cs-table_baseline">
                <td class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">CGST Amount (2.5%):</td>
                <td class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">₹ {{ cgst }}
                </td>
              </tr>
              <tr class="cs-table_baseline">
                <td class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">Additional Amount:</td>
                <td class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">₹ {{ addedamount }}
                </td>
              </tr>
              <tr class="cs-table_baseline">
                <td class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">Total Amount:</td>
                <td class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">₹ {{ totalsumval }}</td>
              </tr>
              <!-- <tr class="cs-table_baseline">
                <td class="cs-width_5">
                  <b class="cs-primary_color">Pay By</b><br />
                  Credit Card - 236***************** <br />Amount: $ 113 - Due: $ 0
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>

      <div class="cs-note">
        <div class="cs-note_left">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path
              d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z"
              fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
            <path d="M256 56v120a32 32 0 0032 32h120M176 288h160M176 368h160" fill="none" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg>
        </div>

        <div class="cs-note_right">
          <p class="cs-mb0"><b class="cs-primary_color cs-bold"> Terms & Note:</b></p>

          <p class="cs-m0"> {{note.note}} and {{note.term}} </p>


        </div>


      </div>
      <div class="container my-5">

        <!-- Footer -->
        <footer class="text-center text-lg-start text-DARK" style="background-color: rgb(207, 199, 150); border-radius: 10px;" >
          <!-- Section: Social media -->
         
          <!-- Section: Social media -->
      
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                  <!-- Content -->
                  <div style="padding: 15px;"></div>
                  <!-- <p>
                    Here you can use rows and columns to organize your footer
                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                  </p> -->
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
               
                <!-- Grid column -->
      
                <!-- Grid column -->
               
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">
                  <div style="padding: 15px;"></div>
                  <!-- Links -->
                  <p><i class="fas fa-home mr-3"></i> AP/161 A,MP Complex</p>
                  <p><i class="fas fa-envelope mr-3"></i> fiestaeventscatering@gmail.com</p>
                  <p><i class="fas fa-globe mr-3"></i> www.fiestacateringcompany.com</p>
                  <p><i class="fas fa-phone mr-3"></i> 8943108000 , 8943208000</p>
                  <!-- <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
                </div>
                <!-- Grid column -->
                <div style="padding: 15px;"></div>
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
      
          <!-- Copyright -->
        
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      
      </div>
      <!-- .cs-note -->
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- End of .container -->






    <div class="cs-invoice_btns cs-hide_print">
      <!-- <a href="javascript:window.print()" class="cs-invoice_btn cs-color1">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path
            d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24"
            fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" />
          <rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor"
            stroke-linejoin="round" stroke-width="32" />
          <path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor"
            stroke-linejoin="round" stroke-width="32" />
          <circle cx="392" cy="184" r="24" />
        </svg>
        <span>Print</span>
      </a> -->
      <button id="download_btn" class="cs-invoice_btn cs-color2">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <title>Download</title>
          <path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40"
            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
            d="M176 272l80 80 80-80M256 48v288" />
        </svg>
        <span>Download</span>
      </button>
    </div>
  </div>



</div>

<!-- estbill -->
<script src="{% static 'estbill/js/jquery.min.js' %}"></script>
<script src="{% static 'estbill/js/jspdf.min.js' %}"></script>
<script src="{% static 'estbill/js/html2canvas.min.js' %}"></script>
<script src="{% static 'estbill/js/main.js' %}"></script>
<!-- end estbill -->

{% endblock %}