{% extends 'master.html' %}
{% block content %}
{% load static %}

<style>
    @media screen and (min-width:336px) and (max-width:626px) {

        #invoicefrom,
        #payment {
            font-size: 13px;
        }


        .invoice-issues-date {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .imgsign,
        .logo {
            max-width: 10%;
        }

        .height {
            height: 10%;
        }

        .invoice-total-card {
            height: 10px;
        }

        .page-wrapper {
            margin-top: 0px;
            /* padding: 0px; */
        }

        #content {
            margin: 0px;
            padding: 0px;
        }


        .page-wrapper>.content {
            padding: 0 !important;
        }

        #headtag {
            padding: 0px;
            display: none;
        }

        #header {
            display: none !important;

        }

        .page-wrapper {
            padding-top: 0px;
        }
    }

    @media print {

        #header,
        .sidebar,
        .navbar-toggler,
        .a,
        .button,
        #printbutton {
            display: none !important;
            content: none !important;
        }

        .page-titles,
        h1,
        h2,
        h3 {
            display: none;

        }

        .page-wrapper>.content {
            padding: 0 !important;
        }

        .page-wrapper {
            padding-top: 0px;
        }


    }
</style>



<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="invoice-logo">
                                        <img src="{% static 'img/logo/Fiesta logo1.jpg' %}" alt="logo">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {% comment %} <p class="invoice-details">
                                        <strong>Order:</strong> #00124 <br>
                                        <strong>Issued:</strong> 20/07/2019
                                    </p> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="invoice-info">
                                        <strong class="customer-text">Estimate From</strong>
                                        <p class="invoice-details invoice-details-two">
                                           Fiesta <br>
                                            806 Twin Willow Lane, Old Forge,<br>
                                            Newyork, USA <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="invoice-info ">
                                        <strong class="customer-text">Estimate To</strong>
                                        <p class="invoice-details invoice-details-two">
                                             {{ clientdetails.clientd.client_name}}<br>
                                             {{ clientdetails.clientd.client_address}},{{ clientdetails.clientd.client_district}} <br>
                                             {{ clientdetails.clientd.client_zipcode}} <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="invoice-item invoice-table-wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="invoice-table table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Product name</th>
                                                    <th>Category</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in details %}
                                                <tr>
                                                    <td>{{ i.productid.food_name }} </td>
                                                    <td> {{ i.est_category }}</td>
                                                    <td> {{ i.est_price }}</td>
                                                    <td> {{ i.est_qty }}</td>
                                                    <td id="amount"> {{ i.est_amount }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 ms-auto">
                                    <div class="table-responsive">
                                        <table class="invoice-table-two table">
                                            <tbody>
                                                {% comment %} <tr>
                                                    <th>Subtotal:</th>
                                                    <td><span>$350</span></td>
                                                </tr>
                                                <tr>
                                                    <th>Discount:</th>
                                                    <td><span>-10%</span></td>
                                                </tr> {% endcomment %}
                                                <tr>
                                                    <th>Sub Total:</th>
                                                    <td><span>₹ {{ totalAmonut }}</span></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <th>GST (5%):</th>
                                                    <td><span> ₹ {{ gsttotal }}</span></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <th>Total Amount:</th>
                                                    <td><span> ₹ {{ total }}</span></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group float-end mb-0">
                            <button class="btn btn-primary" id="printbutton" onclick="makeprint()" type="submit"><i
                                    class="fas fa-download me-1"></i>Print </button>
                           
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function makeprint(id) {
        window.print();
    }
</script>
{% endblock %}