{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Stocks</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="/index">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Stocks</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="/addstock" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>Add Stock
                    </a>
                    {% comment %} <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a> {% endcomment %}
                </div>
            </div>
        </div>


        <!-- <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">

                            <label>Name</label>
                            <input type="text" class="form-control" name="">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Quantity Taken</th>
                                        <th>
                                            Return Quantity
                                        </th>
                                        <th>
                                            Damage
                                        </th>
                                        <th>
                                            Missing
                                        </th>

                                        <th class="text-center">
                                            Actions
                                        </th>
                                        <th id="rentalAmount" hidden>
                                            Rental Amount
                                        </th>
                                        
                                    </tr>
                                    {% csrf_token %}
                                </thead>
                                <tbody>
                                    {% for i in view %}
                                    <tr>

                                        <td> {{ i.stock.stockname}}</td>
                                        <td>{{ i.taken}}</td>
                                        <!-- <input type="number" class="form-control" id="Tak{{i.id}}"
                                                value="{ i.taken}}" hidden> -->

                                        {% comment %} <td>
                                            <input type="number" required class="form-control" min="0"
                                                max="{{ i.taken }}" id="returnQty{{i.id}}">
                                            <p id="p{{i.id}}"></p>
                                            <input id="tid" hidden type="number" value="{{i.id}}">
                                        </td> {% endcomment %}
                                        <td>
                                            <input type="number" class="form-control" id="returnQty{{i.id}}" min="0"
                                                max="{{i.taken}}" required>
                                                <input type="number" class="form-control" id="EstimateId{{i.id}}"
                                                value="{{estimates.id}}" hidden>
                                            <input type="number" class="form-control" id="StockId{{i.id}}"
                                                value="{{i.stock.id}}" hidden>
                                                <input type="number" class="form-control" id="ItemId{{i.id}}"
                                                value="{{i.id}}" hidden>
                                          
                                            
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="damageqty{{i.id}}" min="0"
                                                max="{{i.taken}}">
                                        </td>
                                        <td>
                                            <input type="number" id="missingQty{{i.id}}" class="form-control"
                                                min="0" max="{{i.taken}}">
                                        </td>

                                        <td class="text-center">
                                            <a href="#" class="btn btn-sm btn-white text-success me-2"
                                                id="returnbtn{{i.id}}" onclick="returni('{{i.id}}')"><i
                                                    class="far fa-edit me-1"></i> Return</a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-white text-danger me-2"
                                                hidden><i class="fa fa-pen me-1"></i>Edit</a>
                                        </td>
                                        <td id="totalTd{{i.id}}" hidden>
                                            <input type="number" id="rentalAmountValue{{i.id}}" class="form-control"
                                                readonly>
                                        </td>


                                        {% comment %} <td class="text-center">
                                            <a href="" onclick="acceptReturn('{{i.id}}')" id="changebutton{{i.id}}"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="fa fa-check me-1"></i>Done </a>
                                           

                                        </td> {% endcomment %}
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                            <div class="text-end mt-4">
                                <a href="/index" class="btn btn-primary"> Finish</a>
                               
                            </div>
                        </div>
                       
                    </div>
                
                </div>
            </div>
        </div>


        {% comment %} <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Item Name
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Return Quantity
                                        </th>
                                        <th>
                                            Damage
                                        </th>
                                        <th>
                                            Missing
                                        </th>

                                        <th class="text-center">
                                            Actions
                                        </th>
                                        <th id="rentalAmount" hidden>
                                            Rental Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for items in items %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar" id="item_date">
                                                {{items.billing_date.date}}
                                            </h2>
                                        </td>
                                        <td class="text-capitalize">

                                            {{items.item.item_name}}
                                        </td>
                                        <td>
                                            {{items.qty}}
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="returnQty{{items.id}}" min="0"
                                                max="{{items.qty}}" required>
                                            <input type="number" class="form-control" id="billId{{items.id}}"
                                                value="{{bill.id}}" hidden>
                                            <input type="number" class="form-control" id="itemId{{items.id}}"
                                                value="{{items.id}}" hidden>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="damageqty{{items.id}}" min="0"
                                                max="{{items.qty}}">
                                        </td>
                                        <td>
                                            <input type="number" id="missingQty{{items.id}}" class="form-control"
                                                min="0" max="{{items.qty}}">
                                        </td>

                                        <td class="text-center">
                                            <a href="#" class="btn btn-sm btn-white text-success me-2"
                                                id="returnbtn{{items.id}}" onclick="returnItems('{{items.id}}')"><i
                                                    class="far fa-edit me-1"></i> Return</a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-white text-danger me-2"
                                                hidden><i class="fa fa-pen me-1"></i>Edit</a>
                                        </td>
                                        <td id="totalTd{{items.id}}" hidden>
                                            <input type="number" id="rentalAmountValue{{items.id}}" class="form-control"
                                                readonly>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            <div class="text-end mt-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




<script>
     function returni(id) {
        
        var returnQty = $("#returnQty" + id).val()
        var Estimateid = $("#EstimateId" + id).val()
        var StockId = $("#StockId" + id).val()
        var damage_qty = $("#damageqty" + id).val()
        var missed_qty = $("#missingQty" + id).val()
        var ItemId = $("#ItemId" + id).val()
        
        
        $.ajax({
            url: "/returningitems",
            type: 'POST',
            data: {
                'returnQty': returnQty,
                'Estimateid': Estimateid,
                'StockId': StockId,
                'damage_qty': damage_qty,
                'missed_qty': missed_qty,
                'ItemId': ItemId,
            },
            success: function (response) {
                console.log(response)
                $("#returnbtn" + id).removeClass('text-success')
                $("#returnbtn" + id).addClass('text-danger')
                // $("#returnbtn"+id).prop("disabled", true)
                $("#returnbtn" + id).html(response.status)
                $("#rentalAmount").attr('hidden', false)
                $("#totalTd" + id).attr('hidden', false)
                $("#rentalAmountValue" + id).val(response.total)
                $("#returnQty" + id).attr('readonly', true)
                $("#damageqty" + id).attr('readonly', true)
                $("#missingQty" + id).attr('readonly', true)
                

            }
        })


    }
</script>


{% endblock %}