{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10">

                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li><a href="/user/index">Dashboard /</a></li>
                                <li><a href="/user/marketingstaff">Employee /</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="text-center mb-5">

                    <h2>{{ details.employee_name }} <i class="fas fa-certificate text-primary small" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Verified"></i></h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-map-marker"></i> <span>{{ details.employee_district }} </span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-envelope"></i> <span>{{ details.employee_email }}</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-phone"></i> <span>{{ details.employee_phone }}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-6 mx-auto">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>Profile</span>
                                    <!-- <a class="btn btn-sm btn-white" href="/admin/editcustomer">Edit</a> -->
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-0">
                                        <small class="text-dark">About</small>
                                    </li>
                                    <li>
                                      Employee Name:- {{ details.employee_name }}
                                    </li>
                                    <li>
                                      User_Name :- {{ details.employee_username }}
                                    </li>
                                    <li class="pt-2 pb-0">
                                        <small class="text-dark">Contacts</small>
                                    </li>
                                    <li>
                                       Email_id :- {{ details.employee_email }}
                                    </li>
                                    <li>
                                       Phone_No :- {{ details.employee_phone }}
                                    </li>
                                    <li class="pt-2 pb-0">
                                        <small class="text-dark">Address</small>
                                    </li>
                                    <li>
                                        {{ details.employee_address }},<br>
                                        {{ details.employee_state }},<br>
                                        {{ details.employee_district }},<br>
                                        {{ details.employee_zipcode }}.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}